@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,600;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: aquamarine;
  padding: 10px;
  text-align: center;
}

.invisible {
  display: none;
}

form {
  width: 50vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

button, input, textarea {
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

input[type=submit] {
  cursor: pointer;
}

button {
  text-transform: uppercase;
  cursor: pointer;
}



.books-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
}

.bookCard {
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(173, 245, 220);
  border-radius: 5px;
}
